---
layout: jscroll
pagination:
  enabled: true
---
<!-- Banner -->
<section id="banner">
    <div class="content">
        <header>
            <h1>Hi, I’m <br />
            Michael J. Moon</h1>
            <p>and this is my personal blog.</p>
        </header>
        <p>
            This is my personal space for sharing my latest interests.
            I am a data enthusiasist and a web development hobbyist.
            If you find the blog interesting or have any feedbacks,
            feel free to connect with me!
        </p>
        <ul class="actions">
            <li><a href="{{ '/about' | absolute_url }}" class="button big">About me</a></li>
        </ul>
    </div>
    <span class="image object">
        <img src="{{ '/assets/img/ms-icon-310x310.png' | absolute_url }}" alt="micbon" />
    </span>
</section>

<header class="major">
    <h2>Recent posts</h2>
</header>
<!-- Section -->
<section class="jscroll">
    <div class="posts">
        {% for post in paginator.posts %}
        <article>
            {% if post.image %}
            <a href="{{ post.url | absolute_url }}" class="image">
                <img src="{{ post.image | prepend: '/images/' | absolute_url }}" alt="{{ post.title }}" />
            </a>
            {% endif %}
            <h3><a href="{{ post.url | absolute_url }}" class="image">{{ post.title }}</a></h3>
            <h6>{{ post.date | date: '%b %d, %Y' }}</h6>
            <p>{{ post.excerpt | strip_html | truncate: 300 }}</p>
        </article>
        {% endfor %}
    </div>

    <!-- paginator -->
    {% if paginator.next_page %}
    <div class="pagination">
        <a class='button next' href="{{ paginator.next_page_path | absolute_url }}">Load more</a>
    </div>
    {% endif %}
</section>
