<form method="post" action="https://formspree.io/{{ site.data.settings.email }}">
    <div class="row uniform">
        <div class="6u 12u$(xsmall)">
            <input type="text" name="demo-name" id="name" value="" placeholder="Name" />
        </div>
        <div class="6u$ 12u$(xsmall)">
            <input type="email" name="demo-email" id="email" value="" placeholder="your@email.here" />
        </div>
        <!-- Break -->
        <div class="12u$">
            <textarea name="demo-message" id="message" placeholder="Enter your message" rows="6"></textarea>
        </div>
        <!-- Break -->
        <div class="12u$">
            <ul class="actions">
                <li><input type="submit" value="Send Message" class="special" /></li>
                <li><input type="reset" value="Reset" /></li>
            </ul>
        </div>
    </div>
</form>
