<div id="sidebar" class="inactive">
    <div class="inner">
        <!-- Search -->
        <section class="alt">
            <form id="search">
                <input type="text" name="q" id="search-box" placeholder="Search posts" />
            </form>
        </section>

        <!-- Menu -->
        {% include menu.html %}

        <!-- Section -->
        <section>
            <header class="major">
                <h2>Tags</h2>
            </header>
            {% include tag-cloud.html %}
        </section>

        <!-- Footer -->
        <footer id="footer">
            <ul class="icons">
                {% for social in site.data.settings.social %}
                {% if social.label == "Feed" %}
                <li><a href="{{ social.link | absolute_url }}" target="_blank" class="icon fa-{{ social.icon }}"><span class="label">{{ social.label }}</span></a></li>
                {% else %}
                <li><a href="{{ social.link }}" target="_blank" class="icon fa-{{ social.icon }}"><span class="label">{{ social.label }}</span></a></li>
                {% endif %}
                {% endfor %}
            </ul>
            <p class="copyright">&copy; {{ site.author }}. All rights reserved.<br />Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
        </footer>
    </div>
</div>
