    <script type="text/javascript">
        function prevSlide(item) {
            var $curr = $('.' + item + '.active');
            controlSlide(item, $curr.index() - 1);
        };

        function nextSlide(item) {
            var $curr = $('.' + item + '.active');
            controlSlide(item, $curr.index() + 1);
        };

        function controlSlide(item, ind) {
            var $curr = $('.' + item + '.active'),
                $items = $('.' + item + '.block'),
                $next = $('.next-' + item),
                $prev = $('.prev-' + item),
                $dots = $('.' + item + '.dots');
            $curr.removeClass('active');
            $curr[0].style.display = 'none';
            $items[ind].classList.add('active');
            $items[ind].style.display = 'block';
            $dots.removeClass('selected');
            $dots[ind].classList.add('selected');
            if (ind == $items.length - 1) {
                  $next.addClass('disabled');
              } else if ($next.hasClass('disabled')) {
                  $next.removeClass('disabled');
              }
              if (ind == 0) {
                  $prev.addClass('disabled');
              } else if ($prev.hasClass('disabled')) {
                  $prev.removeClass('disabled');
              }
        };
    </script>
