{% capture temptags %}
  {% for tag in site.tags %}
    {{ tag[1].size | plus: 10000000 }}#{{ tag[0] }}
    {% unless forloop.last %},{% endunless %}
  {% endfor %}
{% endcapture %}
{% assign sortedtags = temptags | split:',' | sort | reverse %}

<div id="tagcloud" class="box">
    <ul class="tags">
        {% for tag in sortedtags limit 10 %}
        {% assign tagitems = tag | split: '#' %}
        <a class="button tag" href="{{ tagitems[1] | prepend: '/tag/' | absolute_url }}/">{{ tagitems[1] }}</a>
        {% endfor %}
    </ul>
</div>
