.plot-container {
    position: relative;
    .plot{
        width: 100%;
    }

    &.oversized {
        background-color: $white;
        border-right: solid 1px rgba($color_shark,0.3);
        left: -15%;
        width: 130%;
        border-radius: 5rem;

        .plot {
            padding: 2rem;
        }
    }
}
