
/* Body theme */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700,900');
.slides > .bk-root h1,
.slides > .bk-root h2,
.slides > .bk-root h3,
.slides > .bk-root h4,
.slides > .bk-root h5,
.slides > .bk-root h6,
.slides > .bk-root p {
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color:#3e3e3e;
}

/* Button group */
.slides > .bk-root .bk-bs-btn {
  font-weight: 600;
  }

.slides > .bk-root .bk-bs-btn-default {
  color: #3e3e3e;
  background: #ffffff;
  border-color: #ccc;
}

.slides > .bk-root .bk-bs-btn-default.bk-bs-active {
  color: #ffffff;
  background: #ccc;
  border-color: #ccc;
}

/* Input box */
.slides > .bk-root .bk-widget-form-input {
  color: #3e3e3e;
  background: #ffffff;
  border-color: #ccc;
}

.slides > .bk-root .bk-widget-form-group label {
  display: inline;
}

.slides > .bk-root .bk-widget-form-group input {
  height: 29px;
  margin-bottom: 2px;
}

/* Hover tool */
.slides > .bk-root .bk-tooltip {
  background: rgba(255, 255, 255, 0.5);
  border: #3e3e3e;
}

.slides > .bk-tooltip-row-label {
  font-weight:800;
}

/* Spinner */
.slides > .bk-root .loader-overlay {
    width: 100%;
    height: 100%;
    z-index: 10000;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
}

.slides > .bk-root .loader-spinner{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: #3e3e3e;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10001;

    -webkit-animation: scaleout 1.0s infinite ease-in-out;
    animation: scaleout 1.0s infinite ease-in-out;
}

.slides-container > .slides {
    padding-bottom:125%;
    height: 0;
    margin: 0;
}

.slides-container .slides > .bk-root,
.slides-container .slides > iframe {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.slides-container .slides > .slides-title {
    position: absolute;
    bottom:0;
    left: 0;
    right: 0;
    text-align: center;
    font-weight: 600;
    z-index: 3;
}

.slides-dots {
    text-align: center;
    margin: 1em;
}
