<section id="education" class="resume">
    <h2><a href="#education">Education</a></h2>
    <div class="row">
        <ul class="alt">
            {% for education in site.educations reversed %}
            <li>
                <h3>{{ education.degree }}, {{ education.school }}</h3>
                <div>
                    {{ education.location }}
                    {% if education.conferreddate %}
                    | {{ education.conferreddate | date: "%B %Y"}}
                    {% endif %}
                    {% if education.misc %}
                    | {{ education.misc }}
                    {% endif %}
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
