<section id="presentations">
    <header class="major">
        <h2>
          <a href="#presentations">Presentations</a>
        </h2>
    </header>
    <div>
        {% for presentation in site.presentations reversed %}
        <div>
            <header class="main">
                <h2>{{ presentation.title }}</h2>
            </header>
            <p>
                {% for author in presentation.authors %}
                {{ author.name | upcase }}{% if author.affiliation %}<sup>{{ author.affiliation }}</sup>{% endif %}{% unless forloop.last %}, {% endunless %}
                {% endfor %}
                {% if presentation.event %} | {{ presentation.event }}{% endif%}
                {% if presentation.location %} | {{ presentation.location }}{% endif%}
                {% if presentation.date_ %} | {{ presentation.date_ | date: "%b %d, %Y" }}{% endif%}
            </p>
            <p>
                {% for affiliation in presentation.affiliations %}
                {% if affiliation.number %}<sup>{{ affiliation.number }}</sup>{% endif %}{{ affiliation.name }}{% unless forloop.last %} | {% endunless %}
                {% endfor %}
            </p>
        </div>
        {% endfor %}
    </div>
</section>
