<section id="projects" class="resume">
    <h2><a href="#projects">Projects</a></h2>
    <div class="row">
        <div class="content">
            {% for project in site.projects reversed %}
            {% if forloop.first == true %}
            <div class="project block active">
            {% else %}
            <div class="project block" style="display:none;">
            {% endif %}
                <div class="title"><h3>{{ project.title }}</h3></div>
                <div class="row">
                  <p>
                      {% if project.independent %}Independent Research, {{ project.affiliation }} | {% endif %}
                      {% if project.authors.size > 1 %}
                      {% for author in project.authors %}
                      {{ author.name | upcase }}{% if forloop.last %} | {% else %}, {% endif %}
                      {% endfor %}
                      {% endif %}
                      {% if project.supervisors.size > 0 %}
                      Supervised by
                      {% for supervisor in project.supervisors %}
                      {% unless forloop.first %} | {% endunless %} {{ supervisor.name }}, {{ supervisor.affiliation }}{% if forloop.last %} | {% endif %}
                      {% endfor %}
                      {% endif %}
                      {{ project.start | date: "%b %Y"}} to {{ project.end | date: "%b %Y"}}
                  </p>
                  <p>{{ project.description }}</p>
                </div>
            </div>
            {% endfor %}
            <ul class="paginate">
                <li class="prev-project paginate disabled" onclick="prevSlide('project')">&#9668;</li>
                {% for project in site.projects reversed %}
                {% if forloop.first == true %}
                <li class="selected project dots" title="{{ project.title }}">
                {% else %}
                <li class="project dots" title="{{ project.title }}">
                {% endif %}
                  <span class="dot" onclick="controlSlide('project', {{ forloop.index0 }})"></span>
                </li>
                {% endfor %}
                <li class="next-project paginate" onclick="nextSlide('project')">&#9658;</li>
            </ul>
        </div>
    </div>
</section>
