<section id="projects">
    <header class="major">
        <h2>
          <a href="#projects">Projects</a>
        </h2>
    </header>
    <div class="row">
        <article class="3u 12u$(small) special">
            <p>
                <button class="prev-project" onclick="iterProject(-1)">&#10094;</button>
                <button class="next-project" onclick="iterProject(1)">&#10095;</button>
            </p>
        </article>
        {% for project in site.projects reversed %}
        <div class="9u 12u$(small) project">
            <h3>{{ project.title }}</h3>
            <p>
              {% if project.independent %}Independent Research, {{ project.affiliation }} | {% endif %}
              {% if project.authors.size > 1 %}
              {% for author in project.authors %}
              {{ author.name | upcase }}{% if forloop.last %} | {% else %}, {% endif %}
              {% endfor %}
              {% endif %}
              {% if project.supervisors.size > 0 %}
              Supervised by
              {% for supervisor in project.supervisors %}
              {% unless forloop.first %} | {% endunless %} {{ supervisor.name }}, {{ supervisor.affiliation }}{% if forloop.last %} | {% endif %}
              {% endfor %}
              {% endif %}
              {{ project.start | date: "%b %Y"}} to {{ project.end | date: "%b %Y"}}
            </p>
            <p>{{ project.description }}</p>
        </div>
        {% endfor %}
    </div>
</section>
