<section id="research" class="resume">
    <h2>
    <a href="#research">Research Area</a>
    </h2>
    <div class="row">
        <div>
          I am interested in apply statistical methods
          to explain and possibly suggest a solutions
          to social problems. I am currently working
          on building a model to estimate the transition
          rates from prescription opioid usage to
          opioid use disorder and opioid use disorder to
          mortaliy in the hope of shedding some light
          upon the opioid crisis.
        </div>
        <div>
          I am also interested in statistics education
          and statistics communication. 
        </div>
    </div>
</section>
