<section id="skills">
    <header class="major">
        <h2>
          <a href="#skills">Skills and Interests</a>
        </h2>
    </header>
    <div class="features">
        {% for skill in site.skills %}
        <article>
            <span class="icon {{ skill.icon }}"></span>
            <div class="content">
                <h3>{{ skill.group }}</h3>
                <p>
                    Skills include {{ skill.skills | map: 'name' | join: ', ' | downcase }}
                    {% if skill.interests.size > 0 %} with interests in {{ skill.interests | map: 'name' | join: ', ' | downcase }}{% endif %}.
                </p>
            </div>
        </article>
        {% endfor %}
    </div>
</section>
