<section id="skills" class="resume">
    <h2><a href="#skills">Skills and Interests</a></h2>
    <div class="row">
        {% for skill in site.skills %}
        <article>
            <div>
                <h3>
                    <span class="fa {{ skill.icon }} icon"></span>
                    {{ skill.group }}
                </h3>
            </div>
            <div class="content">
                Skills include {{ skill.skills | map: 'name' | join: ', ' | downcase }}
                {% if skill.interests.size > 0 %} with interests in {{ skill.interests | map: 'name' | join: ', ' | downcase }}{% endif %}.
            </div>
        </article>
        {% endfor %}
    </div>
</section>
