<!DOCTYPE HTML>
<html>
    {% include head.html %}
    <body>
      <div id="loader">
        <div class="infinite-spinner"></div>
  		</div>
		<!-- Wrapper -->
		<div id="wrapper">
            <!-- Sidebar -->
            {% include sidebar.html %}
			<!-- Main -->
			<div id="main">
				<div class="inner">
					<!-- Header -->
					{% include header.html %}
					{{ content }}
				</div>
			</div>
            {% include scroll-to-top.html %}
        </div>
		{% include scripts.html %}
        <!-- Infinite scroll -->
        <script src="{{ '/assets/js/jquery.jscroll.min.js' | absolute_url }}"></script>
        {% if paginator.next_page %}
        <script type="text/javascript">
        $('.jscroll').jscroll({
            loadingHtml: '<div class="infinite-spinner"></div>',
            contentSelector: '.jscroll',
            nextSelector: '.next',
            autoTrigger: true,
            autoTriggerUntil: 5,
            padding: 0,
            debug: false
        });
        </script>
        {% endif %}
	</body>
</html>
