<!DOCTYPE HTML>
<html>
    {% include head.html %}
    <body>
      <div id="loader">
        <div class="infinite-spinner"></div>
  		</div>
		<!-- Wrapper -->
		<div id="wrapper">
            <!-- Sidebar -->
            {% include sidebar.html %}
			<!-- Main -->
			<div id="main">
				<div class="inner">
					<!-- Header -->
					{% include header.html %}
                    <section>
                        <header class="main">
                            <h1>{{ page.author }}</h1>
                        </header>
                        <p>{{ content }}</p>
                    </section>
                    <!-- skills -->
                    {% if site.skills.size > 0  %}
                    {% include resume/skills.html %}
                    {% endif %}
                    <!-- education -->
                    {% if site.educations.size > 0  %}
                    {% include resume/education.html %}
                    {% endif %}

                    <!-- publications -->
                    {% if site.publications.size > 0 %}
                    {% include resume/publications.html %}
                    {% endif %}

                    <!-- presentations -->
                    {% if site.presentations.size > 0 %}
                    {% include resume/presentations.html %}
                    {% endif %}

                    <!-- teaching experience -->
                    {% if site.teachings.size > 0  %}
                    {% include resume/teachings.html %}
                    {% endif %}

                    <!-- awards and honours-->
                    {% if site.awards.size > 0  %}
                    {% include resume/awards.html %}
                    {% endif %}

                    <!-- projects -->
                    {% if site.projects.size > 0 %}
                    {% include resume/projects.html %}
                    {% endif %}

                    <!-- working experience -->
                    {% if site.employments.size > 0  %}
                    {% include resume/employments.html %}
                    {% endif %}
                </div>
            </div>
            {% include scroll-to-top.html %}
        </div>
        <!-- Scripts -->
        {% include scripts.html %}
        <script type="text/javascript">
            var projectSlideInd = 1;
            showProject(projectSlideInd);

            function iterProject(i) {
                showProject(projectSlideInd += i);
            }

            function showProject(n) {
              var $items = $('.project'),
                  $next = $('.next-project'),
                  $prev = $('.prev-project');
              if (n == $items.length) {
                  $next.addClass('disabled');
              } else if ($next.hasClass('disabled')) {
                  $next.removeClass('disabled');
              }
              if (n == 1) {
                  $prev.addClass('disabled');
              } else if ($prev.hasClass('disabled')) {
                  $prev.removeClass('disabled');
              }
              for (i = 0; i < $items.length; i++) {
                  $items[i].style.display = 'none';
              }
              $items[projectSlideInd-1].style.display = 'block';
            };
        </script>

    </body>
</html>
